<ion-header>
  <ion-toolbar>
    <ion-title>titulos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <style>
        #informacion{
            margin-left: 10px;
        }
        h3{
            margin-left: 15px;
        }
        #informacion>a{
            margin-left: 20px;
        }
    </style>
    <div id="informacion">
        <h1 >Titulos:</h1><br>
        <h3>Grado Superior:</h3><br>
            <a>- Administración De Sistemas Informaticos En Red (2017 - 2018) </a><br><br>
            <a>- Desarrollo De Aplicaciones Web (2019 - en curso)</a><br>
        <h3>Grado Medio:</h3><br>
            <a>- Sistemas Microinformaticos y redes (2015 - 2016)</a>
    </div>
    
</ion-content>
