<ion-header>
  <ion-toolbar>
    <ion-title>
      Formulario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <style>
        #formulario{
            margin:15px;
        }
        input{
            margin: 10px;
        }
    </style>
    <div id="formulario">
        <h3>Nivel de idiomas: </h3>
        <form method="get" action="035-ejemplo-atributos-min-max-html5.php">
            Escribe el idioma :
            <input type="text" name="idioma" />
            <br>
            Escribe sobre 100 tu nivel lingüistico :
            <input type="number" name="nivel" min="0" max="100"/>
            <br>
            <input type="submit" value="actualizar" />
        </form>
    </div>

</ion-content>
