<ion-header>
  <ion-toolbar>
    <ion-title>idiomas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <style>
        h1{
            margin:15px;
        }
        .container-fluid{
            margin-top: 15px;
            margin-left: 15px;
        }
        .col-md-6{
            margin:15px;
        }
    </style>
    <h1>Nivel lingüístico</h1>
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			 <span class="badge badge-default">INGLES :</span>
		</div>
		<div class="col-md-6">
            <div class="progress-bar w-75">
                <progress name="ingles" value="22" max="100"></progress>
            </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			 <span class="badge badge-default">EUSKERA :</span>
		</div>
		<div class="col-md-6">
            <div class="progress-bar w-75">
                <progress name="euskera" value="22" max="100"></progress>
            </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			 <span class="badge badge-default">CASTELLANO :</span>
		</div>
		<div class="col-md-6">
            <div class="progress-bar w-75">
                <progress name="castellano" value="22" max="100"></progress>
            </div>
        </div>
		</div>
	</div>
    
</ion-content>
