<ion-header>
  <ion-toolbar>
    <ion-title>
      Curriculum Vitae
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-title>Iñigo Perez Estevez</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card-subtitle>Datos Personales:</ion-card-subtitle>
          <a>Sexo: Masculino</a><br>
          <a>Población: Urnieta</a><br>
          <a>Fecha Nacimiento: 17/12/1997</a><br>
          <a>Correo Electronico: inigopees@gmail.com</a><br>
          <a>Telf. : 688 64 13 39</a><br>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="../idiomas">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Idiomas</ion-label>
      </ion-item>
      <ion-item href="../titulos/">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Titulos</ion-label>
      </ion-item>
      <ion-item href="../experiencia">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Experiencia</ion-label>
      </ion-item>
      <ion-item href="../otros">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Otros Temas</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
